<div class="card mat-card">
    <div class="card-body">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <h5 class="card-title">Educación</h5>
          <button class="btn btn-default"><i class="bi bi-plus-circle" style="font-size: 1.5rem; color:rgb(61, 204, 92)"></i></button>
        </div>
        <br>
        <div class="d-flex flex-row justify-content-between">
          <div class="row no-gutters">
              <div class="col-auto">
                  <img src="logo.png" class="img-fluid" alt="">
              </div>
              <div class="col">
                  <div class="card-block px-2">
                      <h4 class="card-title">Escuela</h4>
                      <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do e</p>
                      <footer class="blockquote-footer">2019 - 2021</footer>
                  </div>
              </div>
          </div>
          <div>
            <button class="btn btn-default"><i class="bi bi-pencil-fill"></i></button>
            <button class="btn btn-default"><i class="bi bi-trash-fill"></i></button>
          </div>
        </div>
      </div>
    </div>
  </div>
