<div class="card mat-card" id="first-card">
    <div id="profile-background">
      <img [src]="personal.backImage" 
           id="banner" 
           alt="banner image">
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-3">
          <img id="profile-image" [src]="personal.profileImage">
          <h5 class="card-title">{{personal.name}}</h5>
          <p>{{personal.position}}</p>
        </div>
        <div class="col-9 d-flex flex-column">
          <div class="d-flex flex-row justify-content-between">
            <h5 class="card-title">Acerca de</h5>
            <button *ngIf="loggedIn" class="btn btn-default">
              <i class="bi bi-pencil-fill"></i>
            </button>
          </div>
          <p>{{personal.about}}</p>
        </div>
      </div>
    </div>
</div>
