<div class="card mat-card">
    <div class="card-body">
      <div class="d-flex flex-column">
        <div class="d-flex flex-row justify-content-between">
          <h5 class="card-title">Hard & Soft Skills</h5>
          <button *ngIf="loggedIn" (click)="toggleForm()" class="btn btn-default"><i class="bi bi-plus-circle" style="font-size: 1.5rem; color:rgb(61, 204, 92)"></i></button>
        </div>
        <br>

        <div class="d-flex justify-content-start flex-wrap">
          <app-skills-items
        *ngFor="let skill of skills"
        [skill]="skill"
        [loggedIn]="loggedIn"
        (onDeleteSkill)="deleteSkill(skill)"
        (onUpdateSkill)="updateSkill($event)"
        >
        </app-skills-items>
        </div>

        <div class="container">
          <app-add-skill 
          *ngIf="showAddSkill&&loggedIn"
          (onAddSkill)="addSkill($event)">
          </app-add-skill>
        </div>

      </div>
    </div>
  </div>
