
  <div class="d-flex flex-row justify-content-around">
    <div class="d-flex flex-column align-content-center">
      <div class="c100 p70">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
      </div>
      <div class="text-center text">CSS</div>
    </div>
    <div class="d-flex flex-column align-content-center">
      <div class="c100 p70">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
      </div>
      <div class="text-center text">HTML</div>
    </div>
    <div class="d-flex flex-column align-content-center">
      <div class="c100 p70">
        <span>70%</span>
        <div class="slice">
            <div class="bar"></div>
            <div class="fill"></div>
        </div>
      </div>
      <div class="text-center text">Javascript</div>
    </div>
  </div>
