<div *ngFor="let exp of experiences">
    <div class="d-flex flex-row justify-content-between">
        <div class="row no-gutters">
            <div class="col-auto">
                <a [href]="exp.url">
                    <img [src]="exp.image" class="img-fluid" alt="">
                </a>
            </div>
            <div class="col">
                <div class="card-block px-2">
                    <h4 class="card-title">{{exp.name}}</h4>
                    <p class="card-text">{{exp.desc}}</p>
                    <footer class="blockquote-footer">{{exp.start}} - {{exp.end}}</footer>
                </div>
            </div>
        </div>
        <div *ngIf="loggedIn">
        <button class="btn btn-default"><i class="bi bi-pencil-fill"></i></button>
        <button class="btn btn-default"><i class="bi bi-trash-fill"></i></button>
        </div>
    </div>
</div>
