<form
  #it="ngForm"
  class="d-flex flex-column align-items-center"
  (ngSubmit)="onSubmit(it)"
>

  <fieldset>

    <div class="mb-3">
      <label for="name" class="form-label">Educación</label>
      <input
        required
        class="form-control"
        name="name"
        type="text"
        id="name"
        ngModel
        #name="ngModel"
        placeholder="Nombre de la Institución"
      >
    </div>

    <div class="mb-3">
      <label 
        for="desc" 
        class="form-label">Descripción</label>
      <input
        required
        class="form-control"
        name="desc"
        type="text"
        id="desc"
        ngModel
        #desc="ngModel"
        placeholder="Breve descripción de la carrera"
      >
    </div>

    <div class="mb-3">
      <label for="start" class="form-label">Comienzo</label>
      <input
        class="form-control"
        name="start"
        type="number"
        min="1900"
        max="2100"
        id="start"
        ngModel
        #start="ngModel"
        placeholder="2016"
      >
    </div>

    <div class="mb-3">
      <label for="end" class="form-label">Fin</label>
      <input
        class="form-control"
        name="end"
        type="number"
        min="1900"
        max="2100"
        id="end"
        ngModel
        #end="ngModel"
        placeholder="2022"
      >
    </div>

  </fieldset>
    <button type="submit" class="btn btn-success">Guardar</button> 

</form>
